

<section id="content" class="main container">
    <div class="durandal-wrapper" data-view="views/home" data-active-view="true">
        <section id="section-home" class="page-section">
            <div class="row" data-bind="if: state.hasPendingRequest()"></div>
            <div class="row" data-bind="if: state.isCompanyAdmin() &amp;&amp; !state.hasPendingRequest()"></div>
            <div class="row" data-bind="if: !state.isCompanyAdmin() &amp;&amp; !state.hasPendingRequest()">
                <div data-bind="compose: { model: 'viewmodels/homeUser'}">
                    <div class="durandal-wrapper" data-view="views/homeUser" data-active-view="true">
                        <div class="animated fadeIn" data-bind="visible: selectedView() !== 'dashboard'">
                            <div class="pull-right left-padder-10">
                                <div class="btn btn-success btn-sm"
                                     data-bind="click: setSelectedView.bind($data,'dashboard'), html: $root.loc.htmlGoBackButton">
                                    <i class="fa fa-arrow-left"></i> Go Back
                                </div>
                            </div>
                        </div>
                        <div data-bind="compose: { model: activeView }">
                            <div class="durandal-wrapper" data-view="views/homeUserVacancySearch"
                                 data-active-view="true">
                                <div class="row title-row mt-4">
                                    <div class="pull-left">
                                        <h3 data-bind="text: $root.loc.stringSearchVacancies">Search Vacancies</h3>
                                    </div>
                                </div>
                                <div class="composer-plate">

                                    <form class="form form-admin d-flex flex-wrap asp-controller="JobSeeker" asp-action="CompleteSearchVacancies" method="get">
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12">
                                            <label for="inputCountry">Country:</label>
                                            <select id="inputCountry" class="form-control" name="country">
                                                <option value="af">Afghanistan</option>
                                                <option value="al">Albania</option>
                                                <option value="dz">Algeria</option>
                                                <option value="as">American Samoa</option>
                                                <option value="ad">Andorra</option>
                                                <option value="ao">Angola</option>
                                                <option value="ai">Anguilla</option>
                                                <option value="aq">Antarctica</option>
                                                <option value="ag">Antigua and Barbuda</option>
                                                <option value="ar">Argentina</option>
                                                <option value="am">Armenia</option>
                                                <option value="aw">Aruba</option>
                                                <option value="au">Australia</option>
                                                <option value="at">Austria</option>
                                                <option value="az">Azerbaijan</option>
                                                <option value="bs">Bahamas</option>
                                                <option value="bh">Bahrain</option>
                                                <option value="bd">Bangladesh</option>
                                                <option value="bb">Barbados</option>
                                                <option value="by">Belarus</option>
                                                <option value="be">Belgium</option>
                                                <option value="bz">Belize</option>
                                                <option value="bj">Benin</option>
                                                <option value="bm">Bermuda</option>
                                                <option value="bt">Bhutan</option>
                                                <option value="bo">Bolivia</option>
                                                <option value="ba">Bosnia and Herzegovina</option>
                                                <option value="bw">Botswana</option>
                                                <option value="br">Brazil</option>
                                                <option value="io">British Indian Territory</option>
                                                <option value="vg">British Virgin Islands</option>
                                                <option value="bn">Brunei</option>
                                                <option value="bg">Bulgaria</option>
                                                <option value="bf">Burkina Faso</option>
                                                <option value="bi">Burundi</option>
                                                <option value="kh">Cambodia</option>
                                                <option value="cm">Cameroon</option>
                                                <option value="ca">Canada</option>
                                                <option value="cv">Cape Verde</option>
                                                <option value="ky">Cayman Islands</option>
                                                <option value="cf">Central African Republic</option>
                                                <option value="td">Chad</option>
                                                <option value="cl">Chile</option>
                                                <option value="cn">China</option>
                                                <option value="cx">Christmas Island</option>
                                                <option value="cc">Cocos Islands</option>
                                                <option value="co">Colombia</option>
                                                <option value="km">Comoros</option>
                                                <option value="ck">Cook Islands</option>
                                                <option value="cr">Costa Rica</option>
                                                <option value="hr">Croatia</option>
                                                <option value="cu">Cuba</option>
                                                <option value="cw">Curacao</option>
                                                <option value="cy">Cyprus</option>
                                                <option value="cz">Czech Republic</option>
                                                <option value="cd">Democratic Republic of the Congo</option>
                                                <option value="dk">Denmark</option>
                                                <option value="dj">Djibouti</option>
                                                <option value="dm">Dominica</option>
                                                <option value="do">Dominican Republic</option>
                                                <option value="tl">East Timor</option>
                                                <option value="ec">Ecuador</option>
                                                <option value="eg">Egypt</option>
                                                <option value="sv">El Salvador</option>
                                                <option value="gq">Equatorial Guinea</option>
                                                <option value="er">Eritrea</option>
                                                <option value="ee">Estonia</option>
                                                <option value="et">Ethiopia</option>
                                                <option value="fk">Falkland Islands</option>
                                                <option value="fo">Faroe Islands</option>
                                                <option value="fj">Fiji</option>
                                                <option value="fi">Finland</option>
                                                <option value="fr">France</option>
                                                <option value="pf">French Polynesia</option>
                                                <option value="ga">Gabon</option>
                                                <option value="gm">Gambia</option>
                                                <option value="ge">Georgia</option>
                                                <option value="de">Germany</option>
                                                <option value="gh">Ghana</option>
                                                <option value="gi">Gibraltar</option>
                                                <option value="gr">Greece</option>
                                                <option value="gl">Greenland</option>
                                                <option value="gd">Grenada</option>
                                                <option value="gu">Guam</option>
                                                <option value="gt">Guatemala</option>
                                                <option value="gg">Guernsey</option>
                                                <option value="gn">Guinea</option>
                                                <option value="gw">Guinea-Bissau</option>
                                                <option value="gy">Guyana</option>
                                                <option value="ht">Haiti</option>
                                                <option value="hn">Honduras</option>
                                                <option value="hk">Hong Kong</option>
                                                <option value="hu">Hungary</option>
                                                <option value="is">Iceland</option>
                                                <option value="in">India</option>
                                                <option value="id">Indonesia</option>
                                                <option value="ir">Iran</option>
                                                <option value="iq">Iraq</option>
                                                <option value="ie">Ireland</option>
                                                <option value="im">Isle of Man</option>
                                                <option value="il">Israel</option>
                                                <option value="it">Italy</option>
                                                <option value="ci">Ivory Coast</option>
                                                <option value="jm">Jamaica</option>
                                                <option value="jp">Japan</option>
                                                <option value="je">Jersey</option>
                                                <option value="jo">Jordan</option>
                                                <option value="kz">Kazakhstan</option>
                                                <option value="ke">Kenya</option>
                                                <option value="ki">Kiribati</option>
                                                <option value="xk">Kosovo</option>
                                                <option value="kw">Kuwait</option>
                                                <option value="kg">Kyrgyzstan</option>
                                                <option value="la">Laos</option>
                                                <option value="lv">Latvia</option>
                                                <option value="lb">Lebanon</option>
                                                <option value="ls">Lesotho</option>
                                                <option value="lr">Liberia</option>
                                                <option value="ly">Libya</option>
                                                <option value="li">Liechtenstein</option>
                                                <option value="lt">Lithuania</option>
                                                <option value="lu">Luxembourg</option>
                                                <option value="mo">Macao</option>
                                                <option value="mk">Macedonia</option>
                                                <option value="mg">Madagascar</option>
                                                <option value="mw">Malawi</option>
                                                <option value="my">Malaysia</option>
                                                <option value="mv">Maldives</option>
                                                <option value="ml">Mali</option>
                                                <option value="mt">Malta</option>
                                                <option value="mh">Marshall Islands</option>
                                                <option value="mr">Mauritania</option>
                                                <option value="mu">Mauritius</option>
                                                <option value="yt">Mayotte</option>
                                                <option value="mx">Mexico</option>
                                                <option value="fm">Micronesia</option>
                                                <option value="md">Moldova</option>
                                                <option value="mc">Monaco</option>
                                                <option value="mn">Mongolia</option>
                                                <option value="me">Montenegro</option>
                                                <option value="ms">Montserrat</option>
                                                <option value="ma">Morocco</option>
                                                <option value="mz">Mozambique</option>
                                                <option value="mm">Myanmar</option>
                                                <option value="na">Namibia</option>
                                                <option value="nr">Nauru</option>
                                                <option value="np">Nepal</option>
                                                <option value="nl">Netherlands</option>
                                                <option value="an">Netherlands Antilles</option>
                                                <option value="nc">New Caledonia</option>
                                                <option value="nz">New Zealand</option>
                                                <option value="ni">Nicaragua</option>
                                                <option value="ne">Niger</option>
                                                <option value="ng">Nigeria</option>
                                                <option value="nu">Niue</option>
                                                <option value="kp">North Korea</option>
                                                <option value="mp">Northern Mariana Islands</option>
                                                <option value="no">Norway</option>
                                                <option value="om">Oman</option>
                                                <option value="pk">Pakistan</option>
                                                <option value="pw">Palau</option>
                                                <option value="ps">Palestine</option>
                                                <option value="pa">Panama</option>
                                                <option value="pg">Papua New Guinea</option>
                                                <option value="py">Paraguay</option>
                                                <option value="pe">Peru</option>
                                                <option value="ph">Philippines</option>
                                                <option value="pn">Pitcairn</option>
                                                <option value="pl">Poland</option>
                                                <option value="pt">Portugal</option>
                                                <option value="pr">Puerto Rico</option>
                                                <option value="qa">Qatar</option>
                                                <option value="cg">Republic of the Congo</option>
                                                <option value="re">Reunion</option>
                                                <option value="ro">Romania</option>
                                                <option value="ru">Russia</option>
                                                <option value="rw">Rwanda</option>
                                                <option value="bl">Saint Barthelemy</option>
                                                <option value="sh">Saint Helena</option>
                                                <option value="kn">Saint Kitts and Nevis</option>
                                                <option value="lc">Saint Lucia</option>
                                                <option value="mf">Saint Martin</option>
                                                <option value="pm">Saint Pierre and Miquelon</option>
                                                <option value="vc">Saint Vincent and the Grenadines</option>
                                                <option value="ws">Samoa</option>
                                                <option value="sm">San Marino</option>
                                                <option value="st">Sao Tome and Principe</option>
                                                <option value="sa">Saudi Arabia</option>
                                                <option value="sn">Senegal</option>
                                                <option value="rs">Serbia</option>
                                                <option value="sc">Seychelles</option>
                                                <option value="sl">Sierra Leone</option>
                                                <option value="sg">Singapore</option>
                                                <option value="sx">Sint Maarten</option>
                                                <option value="sk">Slovakia</option>
                                                <option value="si">Slovenia</option>
                                                <option value="sb">Solomon Islands</option>
                                                <option value="so">Somalia</option>
                                                <option value="za">South Africa</option>
                                                <option value="kr">South Korea</option>
                                                <option value="ss">South Sudan</option>
                                                <option value="es">Spain</option>
                                                <option value="lk">Sri Lanka</option>
                                                <option value="sd">Sudan</option>
                                                <option value="sr">Suriname</option>
                                                <option value="sj">Svalbard and Jan Mayen</option>
                                                <option value="sz">Swaziland</option>
                                                <option value="se">Sweden</option>
                                                <option value="ch">Switzerland</option>
                                                <option value="sy">Syria</option>
                                                <option value="tw">Taiwan</option>
                                                <option value="tj">Tajikistan</option>
                                                <option value="tz">Tanzania</option>
                                                <option value="th">Thailand</option>
                                                <option value="tg">Togo</option>
                                                <option value="tk">Tokelau</option>
                                                <option value="to">Tonga</option>
                                                <option value="tt">Trinidad and Tobago</option>
                                                <option value="tn">Tunisia</option>
                                                <option value="tr">Turkey</option>
                                                <option value="tm">Turkmenistan</option>
                                                <option value="tc">Turks and Caicos Islands</option>
                                                <option value="tv">Tuvalu</option>
                                                <option value="vi">U.S. Virgin Islands</option>
                                                <option value="ug">Uganda</option>
                                                <option value="ua">Ukraine</option>
                                                <option value="ae">United Arab Emirates</option>
                                                <option value="gb">United Kingdom</option>
                                                <option value="us">United States</option>
                                                <option value="uy">Uruguay</option>
                                                <option value="uz">Uzbekistan</option>
                                                <option value="vu">Vanuatu</option>
                                                <option value="va">Vatican</option>
                                                <option value="ve">Venezuela</option>
                                                <option value="vn">Vietnam</option>
                                                <option value="wf">Wallis and Futuna</option>
                                                <option value="eh">Western Sahara</option>
                                                <option value="ye">Yemen</option>
                                                <option value="zm">Zambia</option>
                                                <option value="zw">Zimbabwe</option>
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                                            <label for="inputIndustryExperienceCodeValue">
                                                Industry
                                                Experience:
                                            </label>
                                            <select id="inputIndustryExperienceCodeValue" class="form-control" name="IndustryEnpeience">
                                                <option value="azeroToFourYears">0-4 Years</option>
                                                <option value="bfiveToNineYears">5-9 Years</option>
                                                <option value="ctenToFourteenYears">10-14 Years</option>
                                                <option value="dfifteenToNinteenYears">14-19 Years</option>
                                                <option value="eplusTwentyYears">20+ Years</option>
                                                <option value="">All</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                                            <label for="inputEmploymentTypeCodeValue">
                                                Employment
                                                Category:
                                            </label>
                                            <select id="inputEmploymentTypeCodeValue" class="form-control" name="EmploymentCategory">                                                <option value="contract">Contract</option>
                                                <option value="fullTime">Full Time</option>
                                                <option value="partTime">Part Time</option>
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                                            <label for="inputEducationCodeValue">Education:</label>
                                            <select id="inputEducationCodeValue" class="form-control" name="Education">
                                                <option value="aHighSchoolSecondary">High School/Secondary</option>
                                                <option value="bSomeCollege">Some College</option>
                                                <option value="cTechVocational">Tech/Vocational</option>
                                                <option value="dApprenticeship">Apprenticeship</option>
                                                <option value="eAssociateTwoYearDegree">
                                                    Associate/2-3 Year Degree
                                                </option>
                                                <option value="fBachelorsThreeToFiveYearDegree">
                                                    Bachelors/3-5 Year
                                                    Degree
                                                </option>
                                                <option value="gMasterDegree">Master Degree</option>
                                                <option value="hPhdDoctorate">Phd/Doctorate</option>
                                                <option value="">All</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12">
                                            <label for="inputSalarySoughtAmount"
                                                   data-bind="text: $root.loc.stringSalarySoughtAmountColon">
                                                Salary
                                                (Amount):
                                            </label>
                                            <select id="inputSalarySoughtAmount" class="form-control" name="SalaryAmount">
                                                <option value="0-99 K">0-99 K</option>
                                                <option value="100-199 K">100-199 K</option>
                                                <option value="200-299 K">200-299 K</option>
                                                <option value="300-399 K">300-399 K</option>
                                                <option value="400-499 K">400-499 K</option>
                                                <option value="500+ K">500+ K</option>
                                                <option value="" selected="">All</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12">
                                            <label for="inputSalarySoughtCurrency"
                                                   data-bind="text: $root.loc.stringSalarySoughtCurrencyColon">
                                                Salary
                                                (Currency):
                                            </label>
                                            <select id="inputSalarySoughtCurrency" class="form-control" name="SalaryCurrency">
                                                <option value="aUSD">USD</option>
                                                <option value="bEuro">Euro</option>
                                                <option value="cSGD">SGD</option>
                                                <option value="dMYR">MYR</option>
                                                <option value="eDHR">DHR</option>
                                                <option value="fSAR">SAR</option>
                                                <option value="gAUD">AUD</option>
                                                <option value="hGBP">GBP</option>
                                                <option value="iCNY">CNY</option>
                                                <option value="">All</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4  col-sm-12  col-xs-12"
                                             style="display: none">
                                            <label for="inputSummaryOfExperienceCategoryCodeValue"
                                                   data-bind="text: $root.loc.stringSummaryOfExperienceCategoryColon">
                                                Summary
                                                of Experience Category:
                                            </label>
                                            <select id="inputSummaryOfExperienceCategoryCodeValue"
                                                    class="form-control"
                                                    data-bind="options: $root.summaryOfExperienceCategories.codes, optionsText: 'name', optionsValue: 'codeValue', value: summaryOfExperienceCategoryCodeValue">
                                                <option value="aGeneral">General</option>
                                                <option value="eGraduateZeroToThreeYearExperience">
                                                    Graduate / 0-3
                                                    Year
                                                    Experience
                                                </option>
                                                <option value="gIndigenous">Indigenous</option>
                                                <option value="dOutWithOilIndustry">
                                                    Out-with Energy Industry
                                                </option>
                                                <option value="fRegisteredDisabled">Registered Disabled</option>
                                                <option value="cUnderThreatOfRedundanncy">
                                                    Under Threat of Redundancy
                                                </option>
                                                <option value="bWomenInOil">Women in Energy</option>
                                                <option value="">All</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12">
                                            <label for="inputExperienceDisciplineSecondLevelCodeValue">
                                                Summary
                                                of Experience Category:
                                            </label>
                                            <select id="inputExperienceDisciplineSecondLevelCodeValue" class="form-control" name="ExperienceCategory">
                                                <option value="">All</option>
                                                <option value="CoalSeamGas">Coal Seam Gas</option>
                                                <option value="drillingRig">Drilling/Rig</option>
                                                <option value="ePCM">EPCM</option>
                                                <option value="geoscienceAndPetroleum">
                                                    Geoscience &amp; Petroleum
                                                </option>
                                                <option value="maintenance">Maintenance</option>
                                                <option value="manufacturingOEM">Manufacturing/OEM</option>
                                                <option value="maritime">Maritime</option>
                                                <option value="onshoreOperationsProjectControls">
                                                    Onshore
                                                    Operations/Project Controls
                                                </option>
                                                <option value="production">Production</option>
                                                <option value="refineryOperations">Refinery Operations</option>
                                                <option value="subseaOperations">Subsea Operations</option>
                                                <option value="trades">Trades</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12"
                                             data-bind="visible: $root.showSecondLevel()" style="display: none;">
                                            <label for="inputExperienceDisciplineThirdLevelCodeValue"
                                                   data-bind="text: $root.loc.stringSubCategoryColon">
                                                Sub
                                                Category:
                                            </label>
                                            <select id="inputExperienceDisciplineThirdLevelCodeValue"
                                                    class="form-control"
                                                    data-bind="options: $root.experienceDisciplineThirdLevelCodeValue().codes, optionsText: 'name', optionsValue: 'codeValue', value: selectedExperienceDisciplineSecondLevelCodeValue">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4  col-sm-12  col-xs-12 pull-right">
                                            <label for="inputOrderBy">Order By:</label>
                                            <select id="inputOrderBy" class="form-control" name="OrderBy">
                                                <option value="cityName">City Name</option>
                                                <option value="postedDate">Job Posted Date</option>
                                                <option value="jobTitle">Job Title</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-12  col-sm-12  col-xs-12">
                                            <button id="SearchVacancyCandidateId" class="btn btn-success btn-block mt-4" type="submit">
                                                <span > SearchVaccancy</span>
                                                <i  class="fa fa-search"></i>
                                                <i class="fa fa-circle-o-notch fa-spin "></i>
                                            </button>
                                        </div>
                                        <div class="form-group col-md-12  col-sm-12  col-xs-12 animated fadeIn"
                                             data-bind="visible: $root.isShowingGuide" style="display: none;">
                                            <div data-bind="compose: 'homeUserVacancySearchGuide.html'">
                                                <div class="durandal-wrapper"
                                                     data-view="views/homeUserVacancySearchGuide"
                                                     data-active-view="true">
                                                    <div class="row title-row">
                                                        <div class="pull-right">
                                                            <a class="help small"
                                                               data-bind="click: $root.showGuide">
                                                                <i class="fa fa-times pull-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="composer-plate">
                                                        <div data-bind="html: $root.loc.htmlVacancySearchGuide">
                                                            <table class="table table-hover table-bordered table-condensed table-responsive table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Operator</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><code>+</code></td>
                                                                        <td>
                                                                            AND operator. For example,
                                                                            "project+manager"
                                                                            will search for vacancies containing
                                                                            both
                                                                            "project" and "manager".
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><code>|</code></td>
                                                                        <td>
                                                                            OR operator. For example,
                                                                            "project|manager"
                                                                            will search for vacancies containing
                                                                            either
                                                                            "project" or "manager" or both.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><code>-</code></td>
                                                                        <td>
                                                                            NOT operator. For example, "project
                                                                            –manager" will search for vacancies that
                                                                            have the "project" term and/or do not
                                                                            have
                                                                            "manager".
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><code>*</code></td>
                                                                        <td>
                                                                            Suffix operator. For example, "proj*"
                                                                            will
                                                                            search for vacancies that have a term
                                                                            that
                                                                            starts with "proj", ignoring case.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><code>"</code></td>
                                                                        <td>
                                                                            Phrase search operator. For example,
                                                                            while
                                                                            <em>Project Manager</em> (without
                                                                            quotes)
                                                                            would search for vacancies containing
                                                                            <em>Project</em> and/or <em>Manager</em>
                                                                            anywhere in any order, "<em>
                                                                                Project
                                                                                Manager
                                                                            </em>" (with quotes) will
                                                                            only
                                                                            match vacancies that contains that whole
                                                                            phrase together and in that order (text
                                                                            analysis still applies).
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><code>( )</code></td>
                                                                        <td>
                                                                            Precedence operator. For example,
                                                                            <code>project+(leader|manager)</code>
                                                                            will
                                                                            search for vacancies containing the
                                                                            <em>project</em> term and either
                                                                            <em>leader</em> or <em>manager</em> (or
                                                                            both).
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="form-group col-md-12  col-sm-12  col-xs-12 ">
                                    <div data-bind="messageBox: messageDetail" style="display: none;"></div>
                                    <div class="animated fadeIn x-slow-animated"
                                         data-bind="compose: 'homeUserVacancySearchResult.html'">
                                        <div class="durandal-wrapper" data-view="views/homeUserVacancySearchResult" data-active-view="true">
                                            <div data-bind="if: hasResult" class="composer-plate"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   @* <div class="PartialView">
        @await Html.PartialAsync("Vacancies.cshtml", vacancies);
    </div>*@
</section>
