html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*JobSeekerProfile*/
.my-profile-container {
    box-sizing: border-box;
}

.alert-sizing {
    margin: 2rem;
}

.item {
    border: 1px solid #ecf0f1;
    border-radius: 0.5rem;
    margin: 1rem;
}

.salary-inputs {
    display: inline-block;
}

.upload-cv-feilds {
    padding: 1rem;
    border: 1px solid #ecf0f1;
    border-radius: 0.5rem;
}

/*JobSeekerProfile END*/

/*CandidateSubcriber*/
.companies-list {
    border: 1px solid #dee2e6;
    padding: 1rem;
}

.update-candidate-tab {
    background-color: #f5f5f5;
}

.candidate-table-heading {
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    padding: 0.75rem;
}

.glyphicon-btn {
    padding: 0.75rem;
    color: #ffffff;
}

.section-head {
    background-color: #f5f5f5;
    padding: 1rem;
}

/*CandidateSubcriber END*/
/*Login*/
.head-btm {
    display: none;
}

.bottom-btm {
    display: none;
}

section.main {
    margin-top: 100px !important;
}

.logo-image {
    height: 8rem;
    width: 100%;
}

.intigrate-login-facbook {
    border: 1px solid #3b5998;
    border-radius: 4px;
    color: #3b5998;
}

.intigrate-login-google {
    border: 1px solid #dd4b39;
    border-radius: 4px;
    color: #dd4b39;
}

    .intigrate-login-facbook span::before, .intigrate-login-google span::before {
        content: "|";
        color: gray;
    }

.sign-in-btn {
    margin: 0 auto;
}
/*Login End*/
/*SignUp*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-btm {
    display: none;
}

.bottom-btm {
    display: none;
}

.section.main {
    margin-top: 100px !important;
}

.logo-container,
.form-item,
.privacy-policy,
.back-btn {
    margin: 0.30rem auto;
}

.privacy-policy {
    font-size: 10pt;
}

    .privacy-policy a,
    .back-btn a {
        color: #80bd01;
    }

.create-account-btn {
    background-color: #80bd01;
    color: #ffffff;
    transition: 0.2s;
}

    .create-account-btn:hover {
        color: #80bd01;
        background-color: #ffffff;
        border: 1px solid #80bd01;
    }

/*SignUP End*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/* ******** MY Edit ******** */
.contentadd {
    display: none;
}

section.main {
    margin-top: 80px !important;
}

.navbar {
    margin-top: 0px;
}

.head-btm {
    display: none;
}

.tile {
    border: 1px solid #E3E3E3;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #000;
}

.img-thumbnail {
    padding: 2px;
    line-height: 1.42857143;
    background-color: #ffffff;
    /* border: 1px solid #ecf0f1; */
    /* border-radius: 4px; */
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 32px;
}

table.table-responsive {
    width: 100%;
    display: block;
    overflow-y: scroll;
    height: 477px;
}

table-bordered > thead > tr > th,
.table-bordered > thead > tr > th,
table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > th,
table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > th,
table-bordered > thead > tr > td,
.table-bordered > thead > tr > td,
table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > td,
table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #ecf0f1;
    width: 10%;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
    background-color: black;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
            }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 768px) {
    .col-md-1.mobileLogo img {
        width: 191px;
        position: relative;
        left: 35%;
        height: 95px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-1.mobileLogo img {
        width: 150px;
        position: relative;
        left: 18%;
        height: 100px;
        object-fit: contain;
    }

    .col-md-1.mobileLogo {
        display: initial;
    }
}
/*@media only screen and (max-width: 420px) {
            .col-md-1.mobileLogo img {
                width: 150px;
                position: relative;
                left: 15%;
                height: 100px;
                object-fit: contain;
            }
            .col-md-1.mobileLogo {
                display: initial;
            }
        }*/
@media only screen and (max-width: 575px) {
    .jobTitle {
        font-size: 17px;
        margin-left: 13px;
    }

    .readMore {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 480px) {
    .jobTitle {
        font-size: 17px;
    }

    .readMore {
        margin-top: 4px;
    }
}

.right-padding-remover {
    padding-right: 0 !important;
    margin-top: 11px;
}
