@{
    ViewData["IncludeHeader"] = false;
}
    <style>
        .companies-list {
            border: 1px solid #dee2e6;
            padding: 1rem;
        }
    </style>


<div id="content-view" class="col-md-9 col-xs-12" data-bind="compose: selectedView().id">
    <div class="durandal-wrapper" data-view="views/adminCompanies" data-active-view="true">
        <div class="row title-row">
            <div class="pull-right">
                <!-- For now the only way of adding a new company is via sginup form-->
                <!--<button class="btn btn-success btn-sm"-->
                <!--data-bind="click: newItem,  visible: !isEditing()"><i class="fa fa-plus"></i></button>-->
            </div>
            <div class="pull-left">
                <h3 data-bind="text: $root.loc.stringCompanies">Companies</h3>
            </div>
            <!-- ko with: company -->
            <div class="col-md-11 mt-4 companies-list">
                <div class="col-md-1 mobileLogo">
                    <img class="img img-responsive img-thumbnail"
                         data-bind="attr:{ src: $root.utilities.resolveFileUrl(logoImageId()) }"
                         src="https://cdn.oildiversity.com/app/images/logo/logo-solo.png">
                </div>

                <div class="col-md-11">
                    <span class="title companyNameForSearch"
                          data-bind="text: name">Apple</span>

                    <div class="tile-confirmation make-danger"
                         data-bind="visible: id() === $root.selectedItemId() &amp;&amp; $root.isDeleting()"
                         style="display: none;">
                        <i class="fa fa-trash-o fa-2x"></i>
                        <span data-bind="text: $root.loc.textDeleteConfirmationMessage">
                            Are
                            you sure you want to delete this item?
                        </span>
                    </div>

                    <div class="tile-body row"
                         data-bind="visible: id() !== $root.selectedItemId() || !$root.isDeleting()">

                        <div class="col-md-12" style="padding:0px;">
                            <span class="tile-label"><i class="fa fa-user"></i></span>
                            <span data-bind="text: $parent.owner.person.names.fullName">
                                Steve
                                Jobs
                            </span>
                        </div>
                        <div class="col-md-12" style="padding:0px;">
                            <span class="tile-label"><i class="fa fa-envelope"></i></span>
                            <span data-bind="text: $parent.owner.emailAddress">admin@apple.com</span>
                        </div>

                    </div>
                </div>
            </div>

            <div>
                @{
                    @for (var i = 0; i <= 5; i++)
                    {
                        <div class="col-md-11 mt-4 companies-list">
                            <div class="col-md-1 mobileLogo">
                                <img class="img img-responsive img-thumbnail"
                                     data-bind="attr:{ src: $root.utilities.resolveFileUrl(logoImageId()) }"
                                     src="https://cdn.oildiversity.com/app/images/logo/logo-solo.png">
                            </div>
                            <span class="title companyNameForSearch"
                                  data-bind="text: name">Optimal</span>

                            <div class="tile-confirmation make-danger"
                                 data-bind="visible: id() === $root.selectedItemId() &amp;&amp; $root.isDeleting()"
                                 style="display: none;">
                                <i class="fa fa-trash-o fa-2x"></i>
                                <span data-bind="text: $root.loc.textDeleteConfirmationMessage">
                                    Are
                                    you sure you want to delete this item?
                                </span>
                            </div>

                            <div class="tile-body row"
                                 data-bind="visible: id() !== $root.selectedItemId() || !$root.isDeleting()">

                                <div class="col-md-12" style="padding:0px;">
                                    <span class="tile-label"><i class="fa fa-user"></i></span>
                                    <span data-bind="text: $parent.owner.person.names.fullName">
                                        Steve
                                        Jobs
                                    </span>
                                </div>
                                <div class="col-md-12" style="padding:0px;">
                                    <span class="tile-label"><i class="fa fa-envelope"></i></span>
                                    <span data-bind="text: $parent.owner.emailAddress">admin@apple.com</span>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div data-bind="compose: 'adminEditCompany.html', visible: isEditing()"
             style="display: none;">
            <div class="composer-plate" data-bind="visible: isEditing"
                 data-view="views/adminEditCompany" data-active-view="true" style="display: none;">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title" data-bind="text: $root.loc.stringEditCompany">
                            Edit
                            Company
                        </h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#editCompanyProfile" data-toggle="tab">
                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                    <span class="tab-header-label"
                                          data-bind="text: $root.loc.stringCompanyProfile">
                                        Company
                                        Profile
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#invitation" data-toggle="tab">
                                    <span class="fa fa-share-alt" aria-hidden="true"></span>
                                    <span class="tab-header-label"
                                          data-bind="text: $root.loc.stringInvitation">Invitation</span>
                                </a>
                            </li>
                            <li data-bind="visible: state.isAdministrator()">
                                <a href="#accessRequests" data-toggle="tab">
                                    <span class="fa fa-users" aria-hidden="true"></span>
                                    <span class="tab-header-label"
                                          data-bind="text: $root.loc.stringUsers">Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="#communityNetwork" data-toggle="tab">
                                    <span class="fa fa-comments-o" aria-hidden="true"></span>
                                    <span class="tab-header-label"
                                          data-bind="text: $root.loc.stringCommunityNetwork">
                                        Community
                                        Network
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="editCompanyProfile" class="tab-pane fade in active">
                                <form class="form form-admin" data-bind="with: selectedItem"></form>

                            </div>

                            <!-- ko with : selectedItem--><!-- /ko -->
                        </div>
                    </div>  

                </div>

                <div class="tile row">
                    <div class="admin-button-panel text-right">
                        <button class="btn btn-success"
                                data-bind="command: saveCommand, text: $root.loc.buttonSave">
                            Save
                        </button>
                        <button class="btn btn-default"
                                data-bind="click: cancelEdit, text: $root.loc.buttonCancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>